* {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;

}

a {
    color: inherit;
    text-decoration: none;
}

em,
i,
address {
    font-style: normal;
}

body {
    line-height: 1;
    height: 200vh;
}

/* reset css */

.header {
    position: fixed;
    width: 100%;
    border-top: 6px double #999;
    border-bottom: 6px double #999;
    z-index: 999;
    background: #fff;
    ;
}

.header h1 {
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #999;
}

.header .gnb {
    border-top: 6px double #999;
}

.header .gnb>ul {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    display: flex;
    text-align: center;
}

.header .gnb>ul>li {

    flex: 1;
    line-height: 50px;
    border-left: 1px solid #999;
}

.header .gnb>ul>li:last-child {
    border-right: 1px solid #999;
}

.header .icon {
    position: absolute;
    top: 112px;
    right: 0;
    font-size: 30px;
    padding: 10px 10px;
}

.header .gnb>ul>li ul {
    position: absolute;
    display: flex;
    text-align: center;
    top: 56px;
    left: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.4);
    color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
}

.header .gnb>ul>li>ul li {
    flex: 1;
}

/* header */

main section .inner {
    position: relative;
    top: 168px;
    left: 0;

}

main section .inner img {
    width: 100%;
}

main section .inner button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    transform: translate(-50%, 50%);
}

main section .inner button>a {
    display: block;
}