.header {
    position: fixed;
    width: 100%;
    border-top: 6px double rgb(15, 159, 255);
    border-bottom: 6px double rgb(15, 159, 255);
    z-index: 999;
    background: #fff;
    ;
}

.header h1 {
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(15, 159, 255);
}

.header .gnb {
    border-top: 6px double rgb(15, 159, 255);
}

.header .gnb>ul {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    display: flex;
    text-align: center;
}

.header .gnb>ul>li {

    flex: 1;
    line-height: 50px;
    border-left: 1px solid rgb(15, 159, 255);
}

.header .gnb>ul>li:last-child {
    border-right: 1px solid rgb(15, 159, 255);
}

.header .icon {
    position: absolute;
    top: 112px;
    right: 0;
    font-size: 30px;
    padding: 10px 10px;
}

.header .gnb>ul>li ul {
    position: absolute;
    display: flex;
    text-align: center;
    top: 56px;
    left: 0;
    width: 100%;

    background: rgba(15, 159, 255, 0.3);
    color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
}

.header .gnb>ul>li>ul li {
    flex: 1;
}

/* header */

.mainVisual .main {
    position: relative;

    background: url(../img/wave.jpg) no-repeat center center/cover;
    height: 100vh;
    margin: 0 0 100px 0;
}

.mainVisual .main button {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 160px;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    transform: translate(-50%, -50%);
}

.mainVisual .main button>a {
    display: block;
}

/* main */

img {
    max-width: 100%;
    vertical-align: middle;
}

.inner {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto 100px;
}

.inner figure {
    position: relative;
    flex: 1 1 30%;
    overflow: hidden;
}

.inner figure .box1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    color: rgb(15, 159, 255);
}

.inner figure .box1:hover {
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}